container {
    background-color: #e5e5e585;
}

.creation {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}


.creation h3 {
    font-size: 40px;
    margin-top: 100px;

}

.question-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 80%;
}

.question-block input {
    width: 100%;
    height: 3vh;
    border-radius: 4px;
    color: #BABABA;
}

.nextSection {
    background-color: red;
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto 50px auto;
    color: white;
    font-size: 26px;
}

.nextSection:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.question-box {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 5%;
}


.screen32>h3 {
    font-size: 40px;
    margin: 5% auto;
    text-align: center;
}

.question-box>span {
    text-align: left;
    font-size: 30px;
    background-color: #ffffff;
    width: 60%;
    padding: 20px 20px;
}

.question,
.correct-answer {
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 60%;
    background-color: #ffffff;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 0;
}

.question span,
.correct-answer span {
    text-align: left;
    font-size: 30px;
    padding-bottom: 10px;

}

.question input,
.correct-answer input,
.wrong-answer input {
    height: 50px;
    border-radius: 6px;
    font-size: 16px;
}

.wrong-answer {
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 60%;
    background-color: #ffffff;
    justify-content: space-around;
    padding: 14px 20px;
}

.wrong-answer.three {
    padding-bottom: 20px;
}

.level {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto 60px auto;
    padding: 0;
    width: 100%;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 40px;
}

.level span {
    width: 90%;
    text-align: left;
    font-size: 30px;
    padding: 30px;
}

.level input {
    height: 50px;
    border-radius: 6px;
    font-size: 16px;
    width: 90%;
}

.level input:nth-child(5) {
    height: 200px;
    text-align: center;
}

.success {
    display: flex;
    justify-content: center;
    position: relative;
    width: fit-content;
    margin: 0 auto 80px auto;

}

.success img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.success div {
    position: absolute;
    left: 5%;
    bottom: 20px;

    font-size: 2vw;
    max-inline-size: 1000px;
    color: white;
}

.returnHome {
    width: fit-content;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto 50px auto;
    font-size: 2vw;
    color: #818181;
}

.returnHome:hover {
    cursor: pointer;
}